{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<h1>New Page</h1>

<form action="{% url 'new' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Entry:</label>
        <input type="text" name="title" id="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" name="content" rows="15" id="content"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>


{% endblock %}